@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LicentaPharmastock</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LicentaPharmastock.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        @{
            var user = HttpContextAccessor.HttpContext.User;
            string page = (ViewContext.RouteData.Values["page"] as string ?? "").ToLowerInvariant();

            bool isAuthPage = page.StartsWith("/account/login")
            || page.StartsWith("/account/register");
            bool isManager = user.IsInRole("Manager");
            bool isPharmacist = user.IsInRole("Pharmacist");
            bool isOnManagerIndex = page == "/manager/index";
            var currentPage = ViewContext.RouteData.Values["page"]?.ToString();
            bool isRegisterPage = currentPage == "/Account/Register";
        }
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 fixed-height-navbar">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Products" asp-action="Index">
                    <img src="~/images/logo.svg" class="logo" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (!isAuthPage)
                {
                    <div class="collapse navbar-collapse" id="mainNavbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            @* Pharmacists see Brands *@
                            @if (isPharmacist)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Brands" asp-action="Index">Brands</a>
                                </li>
                            }
                            @* Managers see Dashboard only when not on it *@
                            @if (isManager && !isOnManagerIndex)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Manager/Index">Dashboard</a>
                                </li>
                            }
                        </ul>

                        <div class="d-flex">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                }

                @if (isRegisterPage)
                {
                    <div class="d-flex justify-content-end w-100 mx-4">
                        <ul class="navbar-nav justify-content-end w-100">
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                        </ul>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Pharmastock - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
